:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-backgound-color: #f5f4fa;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.nav-test {
  display: flex;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

/* Header */
.container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}

/* .header-container {
  padding-top: 24px;
  padding-bottom: 24px; */
}
/* Logo header */

.logobox {
  display: block;
}
.logo {
  display: block;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-begin {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.list {
  list-style: none;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 90px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  display: flex;
  margin-left: auto;
  margin-right: 215px;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}

/* title */
.section-title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* hero */

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Advantages */
.advantages {
  padding-top: 90px;
  padding-bottom: 90px;
}
.advantages-list .title {
  display: flex;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.item-list {
  width: 270px;
}

.item-list:not(:last-child) {
  margin-right: 30px;
}

.title {
  margin-bottom: 10px;
}

/* Services-list */

.services {
  padding-bottom: 95px;
}
.servises-title {
  display: block;
  margin-top: 95px;
}

.servises-container {
  margin-top: 50px;
  justify-content: space-between;
}

/* Team */
.team {
  padding-bottom: 95px;
}

.teamlist-title {
  display: block;
}

.teams {
  justify-content: space-between;
  margin-top: 50px;
}

.team-card {
  padding-bottom: 30px;
}

.team-title {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team-position {
  display: block;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}
/* Footer */
.footer-box {
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0px;
}
.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #fff;
}

.address-list {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

address {
  display: block;
  margin-top: 20px;
}

.button {
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  margin: 30px auto 0px;
  color: #fff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-footer {
  display: block;
  margin-bottom: 10px;
}

/* Portfolio */

/* Filters */
.filters-box {
  justify-content: center;
  margin-top: 95px;
}
.filters-button {
  margin-right: 8px;
  color: var(--title-text-color);
  background-color: var(--second-backgound-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0px;
}

.filters-button:hover,
.filters-button:focus {
  color: #fff;
  background-color: var(--accent-color);
  border: 0px;
}

/* Work examples */
.works {
  padding-bottom: 95px;
}

.exemples-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-item {
  margin-right: 30px;
  margin-bottom: 30px;
  
}

.work-item:nth-child(3n) {
  margin-right: 0px;
}
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

/* Work type */
.work-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
/* Logo footer */
.logo-footer {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.address-link {
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
